h1 {
    color: mediumpurple;
    text-align: center;
    margin: 50px 0px 0px 0px;
    text-shadow: 2px 2px 0px rgb(164, 164, 211);
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: midnightblue;
}

body {
    color: whitesmoke;
    background-color: rgb(207, 207, 232);
 font-family: sans-serif;
    font-weight: 600; 
}
  .container{
    position: relative;
    width: 500px;
    height: 600px;
    margin: auto;
    margin-top: 200px;
    display: block;
    overflow: hidden;
    box-shadow: 4px 4px 9px 9px #8787b2;
  }
  a {
    text-decoration: inherit;
    color: inherit;
  }
  
  a:hover {
    text-decoration: inherit;
  }
  h3 {
    font-size: 18px;
    font-weight: 700;
    
  }
  img.background-image{
    position: absolute;
    opacity: 0.7;
    display: block;
    margin: auto;
  }
  .sign-in{
    margin: 20px;
    border-bottom: 4px solid midnightblue;
    display: inline;
    padding-bottom: 4px;
  }
  .sign-up{
    margin: 20px;
    display: inline;
    padding-bottom: 4px;
  }
  .sign{
    padding: 15% 13% 0 13%;
    position: relative;
  }
  .form{
    padding: 15% 13%;
    left: 0px;
    position: absolute;
    width: 74%;
  }
  label{
    margin-top: 10px;
    font-size: 15px;
    display: block;
    padding: 5px 10px;
    color: midnightblue;
    font-weight: 1000;
  }
  .formh4{
    text-align: center;
    color: midnightblue;
    opacity: 0.5;
    margin-bottom: 0px;
  }
  .formh4:hover{
    opacity: 2;
    transition: all 0.1s ease-in;
  }
input{
    width: 93%;
    margin: auto;
    padding: 13px;
    display: block;
    border: 0;
    border-radius: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.6;
}
input p{
    color: midnightblue;
    opacity: 0.7;
}
input.submit{
    width: 100%;
    padding: 10px;
    color: white;
    opacity: 1;
    font-size: 18px;
    font-weight: 600;
    background-color: midnightblue;
    cursor: pointer;
}
.button{
    background-color: midnightblue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    top: 40px;
    left: 60px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 6px;
    text-align: center;
    
}
.button:hover{
    background-color: #4646a1;
}
.button:active{
    transform: translateY(4px);
    box-shadow: 0 6px gray;
    background-color: rgba(0, 0, 255, 0.033);
}
